<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
"http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
  <module name="TreeWalker">
    <module name="BooleanExpressionComplexity">
      <property name="max" value="10"/>
    </module>
    <module name="CyclomaticComplexity">
      <property name="max" value="7"/>
      <property name="tokens" value="LITERAL_WHILE, LITERAL_DO"/>
    </module>
    <module name="MethodLength">
      <property name="max" value="70"/>
      <property name="countEmpty" value="false"/>
    </module>
    <module name="EmptyCatchBlock"/>
    <module name="AvoidStarImport"/>
    <module name="IllegalImport"/>
    <module name="NeedBraces"/>
  </module>
  <module name="FileLength">
    <property name="max" value="1000"/>
    <property name="fileExtensions" value="java"/>
  </module>
  <module name="LineLength">
    <property name="max" value="200"/>
  </module>
  <module name="FileTabCharacter"/>
  <module name="Header">
    <property name="headerFile" value="LICENSE.txt"/>
  </module>
</module>
